*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.logo  img {
 width: 100px;
 cursor: pointer;
}

.header .nav-items li{
    display: inline;
    padding: 0px 20px ;
    
}

.header li{
    cursor: pointer;
}

/* Restaurantr card */

.res-card{
    width: max-content;
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px;
    cursor: pointer;
}

.res-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }

.res-card h3{
    font-weight: bold;
}

.res-card .cuisine{
    font-size: 0.8rem;
    opacity: 0.7;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    padding: 2px 5px;
    color: aliceblue;
    border-radius: 10px;
}

.res-card-img > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.body .restaurant-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Shimmer  */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-cards{
    
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(213, 213, 223);
    height: 200px;
    width: 200px;
}

.search-div{
    height: 80vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-div input{
    padding: 10px;
    font-size: 2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}